<p><div class="text"><%= HackumassWeb::Application::HACKATHON_NAME %> happens at the Business and Public Management Building at West Chester University.</div></p>
<p>For&nbsp;<strong>parking</strong>&nbsp;we recommend the following lots (<em>In order of proximity</em>):</p>
<ul>
<li><a href="https://goo.gl/maps/uZC2puxjJL42" target="_blank" rel="noopener">K Lot</a>&nbsp;(108 Northfolk Ave, West Chester, PA)</li>
<li><a href="https://goo.gl/maps/gtPMWteorMH2" target="_blank" rel="noopener">L Lot</a>&nbsp;(800-808 Roslyn Ave West Chester, PA)</li>
<li><a href="https://goo.gl/maps/KNDgnkF7voB2" target="_blank" rel="noopener">M Lot</a>&nbsp;(S Walnut St, West Chester, PA)</li>
</ul><p><div class="text">If you have any questions, ask us know at <%= HackumassWeb::Application::CONTACT_EMAIL %> </div></p>
<br>
<a href="https://goo.gl/maps/qpUvUwsPbhTWBkBt6" target="_blank" class="btn btn-secondary">See Our Venue on Google Maps</a>