<div class="card">
    <div class="card-status bg-purple"></div>
    <div class="card-header">
        <h3 class="card-title">Traveling 🚌</h3>
    </div>
    <div class="card-body d-flex flex-column">
        <h3>Transportation Details</h3>
        <p>We hope to provide transportation options for those with limited access. We are still working out the details and will send out an update as things are solidified.</p> 
      
        <p>In the meantime, send any questions to <%= HackumassWeb::Application::CONTACT_EMAIL %>.</p>
    </div>
</div>
