:root {
  --primary-color: #4B0951;
  --seconday-color: #fec435;
  --grey: #495057 !important;
}


.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

input:focus, textarea:focus { 
    outline: none !important;
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 7px var(--primary-color) !important;
}

.turbolinks-progress-bar {
  background-color: var(--primary-color) !important;
}

.nav-tabs .nav-link.active {
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
}

.nav-tabs .nav-link {
  color: var(--grey) !important;
}

a {
  color: var(--primary-color);
}

.event-application-flex-space-around a {
  color: var(--grey);
  text-decoration: none !important;
}

.bg-warning {
  background: linear-gradient(90deg, var(--primary-color) 0 50%, var(--seconday-color) 50% 100%);
  background-position-x: 0%;
  background-size: 200%;
  animation-duration: 1.5s;
  animation-name: slide-background;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.bg-primary-color {
  background-color: var(--primary-color) !important;
}

@keyframes slide-background {
  0% {
    background-position-x: 0%;
  }

  25% {
    background-position-x: 100%;
  }
  
  50% {
    background-position-x: 200%;
  }

  100% {
    background-position-x: 200%;
  }
}

label {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

input[type="radio"], input[type="checkbox"] {
  position: relative !important;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin-right: 5px;
  box-sizing: content-box;
  overflow: hidden;
}

input[type="radio"]:before, input[type="checkbox"]:before {
  content: '';
  display: block;
  box-sizing: content-box;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0,40,100,0.12);
  transition: 0.2s border-color ease;
}

input[type="radio"]:checked:before, input[type="checkbox"]:checked:before  {
  border-color: var(--primary-color);
  transition: 0.5s border-color ease;
}

input[type="radio"]:disabled:before, input[type="checkbox"]:disabled:before {
  border-color: rgba(0,40,100,0.12);
  background-color: rgba(0,40,100,0.12);
}

input[type="radio"]:after, input[type="checkbox"]:after {
  content: '';
  display: block;
  position: absolute;
  box-sizing: content-box;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
  background-color: var(--primary-color);
  width: 16px;
  height: 16px;
  border-radius: 100vh;
  transform: translate(-50%,-50%) scale(0);
}

input[type="radio"]:before {
  border-radius: 100vh;
}

input[type="radio"]:after {
  width: 16px;
  height: 16px;
  border-radius: 100vh;
  transform: translate(-50%,-50%) scale(0);
}

input[type="radio"]:checked:after {
  animation: toggleOnRadio 0.2s ease forwards;
}

.custom-radio .custom-control-label::before {
  content: none;
}

.custom-radio .custom-control-label::after {
  content: none;
}

.custom-controls-stacked label.custom-control-inline {
  display: inline-flex !important;
}

input[type="radio"].custom-control-input {
  opacity: 1;
  z-index: 0;
  border-radius: 50%;
}

input[type="checkbox"]:before {
  border-radius: 16px/4;
}

input[type="checkbox"]:after {
  width: 9.6px;
  height: 16px;
  border-radius: 0;
  transform: translate(-50%,-85%) scale(0) rotate(45deg);
  background-color: transparent;
  box-shadow: 4px 4px 0px 0px var(--primary-color);
}

input[type="checkbox"]:checked:after {
  animation: toggleOnCheckbox 0.2s ease forwards;
}

input[type="checkbox"]:before {
  border-radius: 16px/4;
  transition: 0.2s border-color ease, 0.2s background-color ease;
}

input[type="checkbox"]:checked:not(:disabled):before {
  background-color: var(--primary-color);
}

input[type="checkbox"]:not(:disabled):after {
  box-shadow: 4px 4px 0px 0px white;
}

@keyframes toggleOnCheckbox {
  0% {
    opacity: 0;
    transform: translate(-50%,-85%) scale(0) rotate(45deg);
  }

  70% {
    opacity: 1;
    transform: translate(-50%,-85%) scale(0.9) rotate(45deg);
  }

  100% {
    transform: translate(-50%,-85%) scale(0.8) rotate(45deg);
  }

}

@keyframes toggleOnRadio {
  0% {
    opacity: 0;
    transform: translate(-50%,-50%) scale(0);
  }

  70% {
    opacity: 1;
    transform: translate(-50%,-50%) scale(0.9);
  }

  100% {
    transform: translate(-50%,-50%) scale(0.8);
  }

}


